<div class="banner">
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container">
   			<div class="navbar-header">
   				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#artist-top-menu" aria-expanded="false">
       				<span class="sr-only">Toggle navigation</span>
       				<span class="icon-bar"></span>
       				<span class="icon-bar"></span>
       				<span class="icon-bar"></span>
   				</button>
				<a class="navbar-brand" href="#">Artist Community</a>
   			</div>

   			<div class="navbar-collapse collapse" id="artist-top-menu">
				<ul class="nav navbar-nav navbar-right">
   					  {%if showMenu.showArtist %}
       					<li><a href="{{url_for('showArtists',showMenu=showMenu)}}">Show Artists</a></li>
       				{% endif %}

       				{%if showMenu.showAddArtist %}
           				<li><a href="{{url_for('newArtist')}}">Add Artist</a></li>
           		{% endif %}

           		{% if showMenu.editDeleteArtist %}
           			<li><a href="{{url_for('editArtist', artist_id = artist.id)}}">Edit Artist</a></li>
           			<li><a href="{{url_for('deleteArtist', artist_id = artist.id)}}">Delete Artist</a></li>
           		{% endif %}

              {%if showMenu.showAddPainting %}
                <li><a href="{{url_for('newPainting', artist_id=artist.id)}}">Add Painting</a></li>
              {% endif %}

              {%if 'username' not in session %}
                <li><a href="{{url_for('showLogin')}}">Login</a></li>
              {% else %}
                <li><a href="{{url_for('disconnect')}}">Logout</a></li>
              {% endif %}

				</ul>
   			</div><!--/.nav-collapse -->
   		</div> <!--end div container-fluid-->
	</nav>
</div> <!-- end div banner -->